@tailwind base;
@tailwind components;
@tailwind utilities;

.mini-calendar {
  margin-top: 20px;
}

.calendar-day {
  width: 40px; /* You can adjust this width */
  height: 40px; /* You can adjust this height */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
